.Article {
  width: 800px;

  .form-control {
    width: 75%;
  }

  form > button {
    margin-left: 80px;

    .form-group {
      padding: 0 80px;
    }
  }


  .nav-tabs .nav-link {
    color: #0d6efd;
  }

  div[contenteditable="true"] {
    min-height: 200px;
    width: 100%;
  }
}



