.App {
  a,
  a:visited,
  a:hover,
  a:active {
    color: initial;
  }

  .dummy-navigation {
    display: flex;
    width: 600px;
    position: fixed;
    bottom: 0;
    justify-content: space-around;
  }
}
